<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags Search Engine Optimization -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- 	<meta name="description" content="Twitting is your social media and universe ..." />
	<meta name="robots" content="Twitting, Social Media, Friendship" />
	<meta name="googlebot" content="Twitting, Social Media, Friendship" />
	<meta name="googlebot" content="notranslate" />
	<meta name="rating" content="adult" />
	<meta name="rating" content="RTA-5042-1996-1400-1577-RTA" /> -->
	<link rel="shortcut icon" href="#">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Typing with Hann</title>

	{% block style %}

	{% endblock style %}

	{% block js %}
	
	{% endblock js %}

	

	<!-- cdn for awesome font-->
	<script src="https://kit.fontawesome.com/6be47a062c.js" crossorigin="anonymous"></script>

</head>
<body>

	{% block content %}{% endblock content %}
	
	
	
</body>
</html>